html, body, .container {
    background-color: black;
    color: floralwhite;
}

.jumbotron {
    background-color: purple;
}

.card, .card-body {
    color: black;
}

.card {
    margin-bottom: 10px;
}